@using System.Web;
      @if (Session["usuario"] == null)
      {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Registro", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
      }
       @if (Session["usuario"] != null) {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Logout", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "logout" })</li>
        </ul>
          }
