
@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Album</h2>
<div class="h1">
    <h1>LA FOTO YA ESTA AÑADIDA A TU ALBUM</h1>
</div>
@Html.ActionLink("Volver", "Index");
