
@{
    ViewBag.Title = "CondicionesdeUso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.2.0.js"></script>
<h2>Condiciones de Uso</h2>
<p>
Welcome to Airliners.net, your Photographer Membership is private. It is for you only and you may not share your username and password with anyone else. We reserve the right to remove your account without re-paying any subscription fees if you severely violate the below rules or in other ways severely hurt Airliners.net.
Your Photographer membership incorporates our Privacy Policy and Terms of Use. We are committed to your privacy.
Although we try very hard to keep the site and services up and running at all times, we make no guarantees. We can not warrant that the service will be uninterrupted or error free.
A forum username is included in your Photographer Membership, so please read the forum rules thoroughly before posting. Our forums are moderated so we can continue to bring you and the aviation community top quality, accurate topics and breaking news.
Below are the rules and guidelines regarding the discussion forums. These rules have been designed to make your visit to Airliners.net as enjoyable as possible. With over 70,000 users, we promote a clean, healthy and respectful environment where members are not afraid to ask questions or engage in friendly discussions.
Before becoming a member of Airliners.net, you are expected to review and comply with the following rules. Violating these rules may result in the suspension of your posting privileges. The length of this suspension will be decided by the Forum Moderators and will depend on the severity of the broken rule(s). Users that have been suspended on multiple occasions may be permanently banned.
Revisions and changes may be made and new rules added as necessary. When possible, a notice announcing rule-changes will be posted in the site related forum. It is each user's responsibility to know the forum rules and be aware of any updates to them by reviewing them periodically.
Airliners.net will not and cannot review every message posted, and is furthermore not responsible for the content of any of these messages. If you believe a post or thread violates a rule, please bring this to our attention by using the "suggest delete" button. It would also be helpful if you indicated which rules you believe were broken.
AIRLINERS.NET MEMBERSHIP RULES
Posting in the Discussion Forums
Please respect the opinions of others and choose your words wisely. Each user has their own point of view, and these views must be respected.
Please word all criticism, whether of another user's opinion, a photograph, crew member, a political topic, etc., in a constructive manner. Criticism which serves no purpose other than to incite or insult other members will be deleted and your account possibly suspended.
If a topic becomes a debate, you may debate the subject itself but not the credibility or intellect of other members.
As this is an international website, messages must be written in English, and must be easy to read. Messages should not be typed in ALL CAPS, non-English characters, etc.
Do not post a message on how you find a topic or user irrelevant, boring, childish or stupid.
Do not provoke other users or incite trouble. Do not allow others to provoke you.
Should a user antagonize, slander or intimidate you, DO NOT retaliate. All members are expected to comply with forum rules even if they have been provoked by another member. Bring this to our attention by suggesting the offending post for deletion (see below).
When stating facts, statistics or newsworthy bulletins, please be sure to include an HTML link or reference to a publication. If you are merely providing an opinion, please MENTION THIS in your post. It is each member's responsibility to avoid arguments based on rumors or misinformation.
Please post in the correct forum. Please familiarize yourself with their descriptions and guidelines in order to decide in which forum your thread belongs. A thread may be moved to another forum if the topic is more suitable elsewhere.



Civil Aviation
Discussions about factual events happening in the airline and general aviation industries. If it's happening in commercial aviation, you'll get the information and opinions here first.



Travel Polls & Preferences
Opinion-based discussions about aviation. The best, worst, biggest, smallest. Or seeking advice as to a preferred carrier for a trip you are planning, etc.



Technical / Operations
The more advanced forum for those of you who want to dig deeper into technical issues as well as airline management and operations. This is for aircraft performance, characteristics, handling, procedures, etc. A forum for both professionals and knowledgeable amateurs.



Aviation Hobby
Discussions about flight simulation, model collections, memorabilia, collectables, post cards, slides, etc.



Aviation Photography
Discuss equipment, techniques, digital editing, or get feedback on you pictures before you upload them. Get the opinion of fellow photographers on your shots, and discuss ways to improve them.



Trip Reports
Discussions about specific trips you have taken. The more detail the better. Photo-essays on complete trips are welcome and encouraged. We welcome start-to-finish accounts of your journeys with the sort of detail your fellow enthusiasts will appreciate.



Military Aviation & Space Flight
Discussions about military aviation and space flight. Defense contracts, new fighters, tankers and transports and aerospace development.



Non-Aviation
This forum is for topics not related to aviation. It can be anything really, reflections on why you think Microsoft is a cool company to why you'll never buy a Nissan. This is the only forum where political comments are allowed. This is also the forum to organize Airliners.net meetings and events.



Site-Related
This is the place where Airliners.net related information will be posted like dates for scheduled downtime, info about new sections and features etc. This is also the forum for suggestions, comments and constructive criticism related to any part of Airliners.net
Double Posting: Never post the same topic in more than once (in the same or different forums).
Always check past topics to be sure that the topic you are about to start hasn't already been posted. You can do this with a simple forum search using the relevant keywords. If your topic has already been posted and you'd like to add to the discussion, please do so under the existing topic.
Do not start a new topic UNLESS the prior one has been locked, and you receive permission from a forum moderator.
Do not post more than one new thread on different aspects of the same topic. Example: "Thoughts on DL's new Livery" and "DL's new Livery now on 777's" does not require two separate threads.
Do not re-ignite inflammatory threads by creating new threads on the same topic.
On rare occasions the Moderators may create 'official' threads on certain topics to organize a high volume of posts effectively. Please adhere to any extra conditions that may be outlined in such threads. Do not create new threads on topics that have been set up as official threads.
Do not 'bump' threads back to the top to elicit a response. Where this occurs the entire thread will be deleted.
Please use the most relevant and descriptive title for your topics. The topic of your thread should therefore be as detailed as possible. Examples of unacceptable topics include, but are not limited to:
- Read This
- A380
- Please Help!
- This is Cool
- An-225
- David Neely
- Breaking News!
- JFK
- Qantas
Please spend some time to make your posts interesting and easy to understand. Messages of agreement such as "me too" or "I agree with X" have been found to waste time and are therefore to be avoided. A message consisting of only one or two lines of text is probably not worth posting. Do not make posts that contain only a smiley face, check mark, etc. Make sure the content of your post is relevant to the topic.
As this is a discussion forum, do not post links, news stories or press releases without adding your own comments to them. Our members can get news in many places. It is your comments that will make the post interesting and worth responding to. Please see the forum rule which addresses copyrighted material from other sites and sources.
Only real or actual events may be posted in the civil aviation forum. Humor and other parody belong in the non-aviation forum.
If your post or thread has been deleted, please do not view this as a personal attack against you by the Forum Moderators. If you believe there was an error, please send us an email in order to bring it to our attention.
If you've been suspended, then you are not permitted to post via another member. If it is found that this rule has been breached, you may have your suspension extended or be permanently banned. In addition, whoever posted on your behalf may also face suspension.
The Forum Moderators reserve the right to delete any post containing bad grammar, spelling errors or any post that we find difficult to understand. Please use the spell checker which has been provided for your convenience.
Swear words are acceptable ONLY when used in context and when it can be considered "motivated" i.e. to emphasize a point. It is not acceptable to use them gratuitously.
Swear words that have been masked with wildcards such as *** are as unacceptable as unmasked words and will be subject to the same rules.
At no time may swear words be used in the title of a thread.
Media files may be embedded in posts as long as their "autoplay" function has been disabled.
Do not post links or references to other sites which compete directly with or seek to diminish the mission of www.airliners.net. Similarly, do not embed photographs from competing websites in forum posts.
Copyrights and Advertising
Copyrighted material from other websites, newspapers, magazines and journals are not allowed to be posted. You are permitted to post a summary of an article or quote several lines of it and a link to the full story, but not the full article. Violations of this policy will result in the deletion of your post or thread.
Do not post links or references to external websites for forum readers to obtain your own text that could have been posted within the thread itself. This includes links to personal blogs and social networking sites. If they are your own words or images, we ask that you post them here.
Do not post advertisements for web pages, chain letters, pyramid schemes, virus warnings or other solicitations.
You may post links to mainstream websites that are of relevance to a discussion, but be aware: if it looks anything like an ad then it will be deleted. Gratuitous, unmerited and/or repeated linking of images or text hosted on websites other than Airliners.net is not permitted. External links should be accompanied by your own comments, as per Rule #1N.
If you have aviation material that you'd like to sell or trade and are not a commercial dealer, then you may post a link to it in the Aviation Hobby forum. Please note however that Airliners.net is not responsible for any trading or sales activities between its members. If it is found that you are a commercial seller, we reserve the right to suspend or ban your user account.
Suggesting Deletion of Posts and Threads
If you have a problem with another user or if you dislike a thread or post and are able to show that it violates a rule, please use the "Suggest Deletion" button (see below). Just as posts have various levels of quality, so do suggestions for deletion. Take some time to explain why you feel a post should be removed.
 SUGGEST DELETION
Alternatively, you may e-mail the Forum Moderators at moderators@airliners.net about the issue.
Do not respond to an inflammatory post and then suggest deletion of the same post. Simply suggest its deletion using the SD button.
If you are suggesting deletion of an entire thread because it is a duplicate of an earlier thread, please paste the URL of the first thread in the comment box of the SD form.
Do not use the SD button unfairly against one or more members in an attempt to limit their posts. Deletion suggestions from members are welcome and encouraged. But do not 'spam' the deletion queue because of a conflict with another member.
Do not use the SD button as a way of retaliating after having one of your own posts or threads removed.
Please only utilize the suggest deletion button once per post. Any user found to abuse/misuse the suggest deletion system will be suspended.
Maintaining your airliners.net Screen Name
You are responsible for the security of your password. Excuses for unauthorized posts such as "someone has discovered my password" or "I left my PC with it still logged on to a.net and someone used it" will not be accepted.
Your Airliners.net membership is private. It is for you only and you may not share your username and password with anyone else.
You are required to have a valid email address listed within your airliners.net member profile. Should your user profile contain an invalid email address, your account will be suspended until you contact us with a valid one.
If we have something to tell you regarding these forums or if any of your posts have been deleted, you will receive notification by email.
If you have a post removed, a deletion notice will be automatically generated and sent to the email address in your profile. If an entire thread is removed and you've posted in it, you will not receive notification of the thread's removal.
You may only register one username. Please think carefully before choosing your username as it cannot be changed in the future. You do have the ability however to change any or all of the personal information contained in your user profile.
Your username must not be offensive. If a new account is created with an inappropriate username, the account will be canceled.
Your profile must not contain offensive or vulgar content. This includes your profile signature, which appears at the bottom of every post you make.
Communication with Moderators
All comments and/or questions for the Forum Moderators should be emailed to moderators@airliners.net.
If you contact a moderator privately regarding a forum issue, the moderator is required share your communication with the rest of the moderating team. We encourage you to send your forum questions directly to moderators@airliners.net.
Avoid sending messages using the PM function to Forum Moderators regarding moderating issues. If your PM is on a forum issue, the moderator is required share your communication with the rest of the moderating team.
Please respect crew members. Please remember that Forum Moderators cannot be everywhere at all times. You may email the moderators, support, screeners or chat operators on an issue or start a constructive thread in the site related forum.
Please be advised that that emails or posts that are deemed abusive or obnoxious will be ignored or deleted and your account may be suspended.
The crew email addresses are moderators@airliners.net, support@airliners.net, chat@airliners.net and screeners@airliners.net.
Any emails to the moderators should include your screen name and your real name.
All correspondence between members and the Forum Moderators is confidential. Regardless of the method of delivery (email, deletion notice, PM, etc.) the communication on either side is not to be shared or distributed without the express written consent of the involved member and Moderator(s).
Communication with Other Members
If you'd like to send a personal message to another user, do not post it in the forums. Please use the email contact form provided in their profile or send them an instant message.
Any abuse of the messaging or contact forms features may result in suspension. Personal messages and emails sent via the contact interfaces are subject to the same rules as forum posts.
If you have asked a member not to contact you and the contact continues, please notify the moderators. Be prepared to provide screen-captures of the correspondence.
Members may not be contacted via their profiles for the purpose of advertising.
Personal messages between members (including crew members) may not be pasted into forum threads or distributed elsewhere for public review.
Emails from moderators or other crew members may not be pasted into forum threads or distributed elsewhere for public review.
General Rules
We reserve the right to cancel your membership and forum username without repaying any subscription fees if you violate the rules or cause harm in any way to Airliners.net.
If there's a problem with your user or Premium/First Class payment, or if your account has been accidentally deleted, or if you have difficulties logging in, then please do not address this via other members on the forums. Send the Support Crew an email detailing the problem and they will do their best to rectify the situation in a timely manner. Contact them at Support@airliners.net.
The messages in this discussion forum express the views of their author and not necessarily that of Airliners.net or any associated entity. You remain solely responsible for everything you post, and you agree to indemnify and hold harmless Airliners.net and their agents with respect to any claim based upon transmission of your message(s).
We reserve the right to reveal your identity (or whatever information we know about you) in the event of a complaint or legal action arising from any message posted by you.
Your IP address is logged and we reserve the right to track you using this information in the case of any pressing concern.
d) You agree that you will not use this discussion forum to post any statement which is knowingly false, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, graphic, threatening, invasive of a person's privacy or otherwise in violation of any law.
Do not post slanderous or defamatory statements. These include, but are not limited to, false or malicious statements injurious to a person's reputation, job, family or private life.
Posts containing information on how to carry out an illegal act will be deleted.
We reserve the right to delete, without explanation and entirely at our discretion, any post, thread or user for any or no reason.
</p>
<br/>
<input type="checkbox" class="checkbox" id="CC" />I have read, understood and agree with all the above terms and conditions
<br/>
<input type="button" id="btnAceptar" value="ACEPTAR" />
<script>
    $("#btnAceptar").click(function () {
        if ($("#CC").is(":checked")) {
            window.location.href = "Registro"
        } else {
            window.location.href = "Index"
        }
    })
</script>