
@{
    ViewBag.Title = "Envio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h1">
    <h1>SE LE HA ENVIADO UN EMAIL</h1>

</div>
@Html.ActionLink("Inicio", "Index");
@Html.ActionLink("Volver", "Login");

