
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h1">
    <h1>NO EXISTE O SE HA ESCRITO INCORRECTAMENTE</h1>
    
</div>
@Html.ActionLink("Inicio", "Index");
@Html.ActionLink("Registro", "Registro");
@Html.ActionLink("Volver", "Login");


