@model IEnumerable<Airliners.net.Models.AddFoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /> 
<br />
<div class="row">   
@if (Model != null)
{
    foreach (var item in Model)
    {
    <div class="col-md-4">
        
            <img src="@Url.Content("~/Images/" + item.photo)" alt="No Disponible" width="300px" height="200px" />
        <br />
        
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */})
            @if (Session["usuario"] != null)
            {

           @Html.ActionLink("Añadir a tu album", "AñadirAlbum", new { /* id=item.PrimaryKey */ })
            }
    </div>
    }
}
    </div>
