@model IEnumerable<Airliners.net.Models.AddFoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="@Url.Content("~/Images/" + item.photo)" alt="No Disponible" width="300px" height="200px" />
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */})
            @if (Session["usuario"] != null)
            {

           @Html.ActionLink("Añadir a tu album", "AñadirAlbum", new { /* id=item.PrimaryKey */ })
            }
        </td>
    </tr>
    }
}
</table>
