@model IEnumerable<Airliners.net.Models.AddFoto>
@using System.IO;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /> 
<br />
<div class="row">   
@if (Model != null)
{
    foreach (var item in Model)
    {
    <div class="col-md-4">
        
            <img src="@Url.Content("~/Images/" + item.photo)" alt="No Disponible" width="300px" height="200px" />
        <br />
            @{string extension = Path.GetExtension(item.photo);
                string result = item.photo.Substring(0, item.photo.Length - extension.Length);
            }
            @Html.ActionLink("Detalles", "Detalles", new { photo=result})
            @if (Session["usuario"] != null)
            {

           @Html.ActionLink("Añadir a tu album", "AñadirAlbum", new {photo=result})
            }
    </div>
    }
}
    </div>
