
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    <div id="cab">
        <h1>Cabecera</h1>
    </div> 
}
@section Body{
    <b>@ViewBag.Bienvenido</b>
    }
@section Footer{
    <div><h6>Pie</h6></div>
    }
